/* colors
dark gray #121212
darkish gray #2F2F2F
med gray #454545
lighter gray #707070
off white #FFFEFC
yellow #FEC64D
green #28cc50
blue #01a7d9
*/

body {
  background-color: black;
  color: #FFFEFC;
}

.App {
  text-align: center;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.VordliLogo {
  width: 33%;
  height: auto;
  max-width: 100%;
}

@media (max-width: 768px) {
  .VordliLogo {
    width: 100%;
  }
}

.SearchButton {
	background-color:#2F2F2F;
	border-radius:5px;
  font-size: clamp(20px, 2vw, 50px);
	display:inline-block;
	cursor:pointer;
	color: #707070;
  border: 1px solid #707070;
  margin: 5px;
}

.LetterInput {
  display: flex;
  justify-content: center;
  align-items: center;   
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.YellowLetters {
  display: flex;
  justify-content: center;
}

.YellowLetter {
  background-color: #FEC64D;
  width: 25vw;
  max-width: 100%;
  aspect-ratio: 1;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(10px, 6vw, 50px);
  position: relative;
  margin: 1vw auto;
}

.YellowLetterDelete {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 5px;
}

.YellowLetterInput {
  height: 4vw;
  width: 25vw;
  max-width: 95%;
  border-radius: 5px;
  font-size: clamp(10px, 4vw, 30px);
  display: flex;
  justify-content: center;
  color: #FEC64D;
  border: 1px solid #FEC64D;
  cursor: copy;
  align-items: center;
  margin: 0 auto;
}

.NotEditingYellowLetter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.EditingYellowLetter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #FEC64D;
  color: #FFFEFC;
  font-size: clamp(10px, 6vw, 50px);
  border-radius: 5px;
  text-align: center;
}

.LetterStack {
  width: 25vw;
  max-width: 100px;
  margin: 1vw;
  overflow: hidden;
}

.GreenLetters {
  display: flex;
  justify-content: center;
}

.GreenLetter {
  background-color: #28cc50;
  color: #FFFEFC;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25vw;
  max-width: 100px;
  aspect-ratio: 1;
  border-radius: 5px;
  position: relative;
  margin: 1vw;
}

.EditingGreenLetter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #28cc50;
  color: #FFFEFC;
  font-size: clamp(10px, 6vw, 50px);
  border-radius: 5px;
  text-align: center;
  position: relative;
}

.NotEditingGreenLetter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(10px, 6vw, 50px);
  width: 100%;
  height: 100%;
  background-color: #28cc50;
  border-radius: 5px;
  position: relative;
  text-align: center;
}

.GrayLetters {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #707070;
  color: #FFFEFC;
  font-size: 5vw;
  height: auto;
  min-height: 20vh;
  width: 50vw;
  border-radius: 5px;
  margin: auto;
  overflow-wrap: anywhere;
}

.EditingGrayLetters {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #707070;
  color: #FFFEFC;
  font-size: 5vw;
  border-radius: 5px;
  text-align: center;
  height: 100%;
  min-height: 20vh;
}

.NotEditingGrayLetters {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #707070;
  border-radius: 5px;
  height: 100%;
  min-height: 20vh;
}

.QueryBuilder {
  display: block;
}

.NumLettersPicker {
  display: flex;
  justify-content: flex-end;
}

.MainButton {
  background-color: black;
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: clamp(20px, 2vw, 2vw);
  margin: 2px;
}

.ModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  z-index: 9998; 
  align-items: center;
}

.Video {
  z-index: 9999;
  width: 39vw;
  max-width: 380px;
  height: auto;
  max-height: 70vh;
}

.ModalContent {
  background: #707070;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 40vw;
  max-width: 400px;
  position: relative;
  margin: 0 auto;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .ModalContent {
    width: 80vw;
    max-width: none;
    max-height: 90vh;
  }
  .Video {
    width: 79vw;
    max-width: none;
    max-height: 68vh;
  }
}

.ModalClose { 
  background-color: #121212;
  border: none;
  color: #707070;
  cursor: pointer;
  font-size: 40px;
  left: 10px;
  margin: 5px;
  top: 10px;
}

.ModalTop {
  background-color: #121212;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.ModalBody {
  padding: 20px;
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
}

.SolutionScrollbox { 
  max-height: 70vh;
  overflow-y: auto;
}