body {
  background-color: #454545;
}

.App {
  text-align: center;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

/* colors
dark gray #121212
darkish gray #2F2F2F
med gray #454545
lighter gray #707070
off white #FFFEFC
yellow #FEC64D
green #28cc50
*/

.EditableInput {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;   
  width: 100px;
  height: 100px;
  margin: 10px;
}

.GreenLetters {
  display: flex;
  justify-content: center;
}

.GreenLetter {
  background-color: #28cc50;
}

.EditingGreenLetter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #28cc50;
}

.NotEditingGreenLetter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #28cc50;
}

.QueryBuilder {
  display: block;
}

.NumLettersPicker {
  display: flex;
  justify-content: flex-end;
}